<table mat-table [dataSource]="students" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <!-- Income Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> email hwo saved </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span *ngIf = "i!=rowToEdit">{{element.email}}</span>
        <mat-form-field *ngIf = "i==rowToEdit" >
          <input          
            matInput
            [(ngModel)]="itemToEdit.email" 
            [value] = "element.email"            
          >
        </mat-form-field>         
      </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="math">
      <th mat-header-cell *matHeaderCellDef> math </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span *ngIf = "i!=rowToEdit">{{element.math}}</span> 
        <mat-form-field *ngIf = "i==rowToEdit" >
          <input          
            matInput
            [(ngModel)]="itemToEdit.math" 
            [value] = "element.math"            
          >
        </mat-form-field>
      </td>
    </ng-container>
  
    <!-- Years Column -->
    <ng-container matColumnDef="psico">
      <th mat-header-cell *matHeaderCellDef> psico </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span *ngIf = "i!=rowToEdit">{{element.psico}}</span>
        <mat-form-field *ngIf = "i==rowToEdit" >
          <input          
            matInput
            [(ngModel)]="itemToEdit.psico" 
            [value] = "element.psico"            
          >
        </mat-form-field>         
      </td>
    </ng-container>
  
    <!-- Income Column -->
    <ng-container matColumnDef="pay">
      <th mat-header-cell *matHeaderCellDef> pay </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span *ngIf = "i!=rowToEdit">{{element.pay}}</span>
        <mat-form-field *ngIf = "i==rowToEdit" >
          <input          
            matInput
            [(ngModel)]="itemToEdit.pay" 
            [value] = "element.pay"            
          >
        </mat-form-field>         
      </td>
    </ng-container>
    
    <!-- Income Column -->
    <ng-container matColumnDef="prediction">
      <th mat-header-cell *matHeaderCellDef> prediction </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span [ngClass]="[element.prediction=='nosher' ? 'red' : 'green']" *ngIf = "i!=rowToEdit">{{element.prediction}}</span>
        <mat-form-field *ngIf = "i==rowToEdit" >
          <input          
            matInput
            [(ngModel)]="itemToEdit.prediction" 
            [value] = "element.prediction"            
          >
        </mat-form-field>         
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button 
          mat-raised-button
          color = 'warn'
          (click) = "deleteStudent(i)"
        >
          Delete
        </button>                  
      </td>
    </ng-container>   
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span *ngIf = "i!=rowToEdit">{{element.date}}</span>
        <mat-form-field *ngIf = "i==rowToEdit" >
          <input          
            matInput
            [(ngModel)]="itemToEdit.date" 
            [value] = "element.date"            
          >
        </mat-form-field>         
      </td>
    </ng-container>
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
</table>


