<mat-card>
  <h1>Add student</h1>
  <form #editForm="ngForm">
    <div class="example-container">
      <p>
          <mat-form-field appearance="standard">
            <mat-label>Average math</mat-label>
            <input matInput 
              [(ngModel)] = "math"
              (input) = "validCheck(math)"
              name = "math"
              required>
              
          </mat-form-field>
          <span style= color:red [hidden] *ngIf= "notGoodMath"> invalid data</span>
          
        </p> 
        <p>
          <mat-form-field appearance="standard">
            <mat-label>psico grade</mat-label>
            <input matInput 
              [(ngModel)] = "psico" 
              name = "psico" 
              required>
          </mat-form-field>
        </p>   
        <p>
          <mat-checkbox class="example-margin"
          name = "math"
          (click)="pay = !pay"
            
          >payed
        </mat-checkbox>
        </p>                                     
      
        <div >
        <!-- (change)="checkSelected(i)" -->
          <button  *ngIf = "!press" mat-raised-button 
          color="primary"
                  (click)= "predict()"
                  [disabled]= "validMS">
                   Predict
          </button>
          
          <button 
          *ngIf = "press"
          mat-raised-button
          color="warn"
          (click) = "add()"
        >
          save
        </button> 
        <button 
          *ngIf = "press"
          mat-raised-button
          (click) = "cancle()"
        >
          Cancel
        </button>                 
      </div>
    </div>
  </form>
 </mat-card>
 <div>
   <br>

   <div *ngIf = "press">
     <p >Predict result: {{prediction}} </p>
     <br>
  <h4><b>Predict options:</b></h4>
  <mat-form-field  appearance="fill">
    <mat-label >{{prediction}}</mat-label >
    <mat-select [(ngModel)] = "prediction" name = "prediction">
      <mat-option *ngFor="let status of statuses" [value]="status"   >
        {{status}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
  </div>

